.App {
  text-align: center;
}

.headerBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.ant-layout-header {
  background-color: #f2f2f2;
}

.ant-layout-sider {
  background-color: #fff;
}

.ant-layout {
  background-color: #fff;
}

.ant-layout-content {
  min-height: 400px;
}

.ant-menu-inline {
  border-right: none;
}

.ant-modal-header {
  padding: 12px 24px;
  border-bottom-color: #f2f2f2;
}

.modalFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.modalFlex .ant-input-affix-wrapper {
  margin-bottom: 10px;
}

.innerFlex{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

::selection {
  background-color: #51a938;
  color: #fff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
